body{
    background-color: rgb(10, 29, 11);
}
.container{
    display: flex;
    justify-content: center;
}
.box{
    
    align-items: center;
    background-color: whitesmoke;
    margin-top: 100px;
    border-radius: 9px;
    padding: 10px;
    text-align: center;
}
.box input{
    width: 200px;
    height: 22px;
    margin: 5px;
    color: black;
    
}
#btn{
    height: 28px;
    background-color: rgb(27, 19, 134);
    border-radius: 7px;
}
b{
    margin-top: 30px;
}
b a{
    align-items: center;
    color: white;
    text-decoration: none;
}