{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product_catelogue</title>
    <link rel="stylesheet" href="{% static 'css/product_catelogue.css' %}">
</head>

<body>
    <div class="main">
    
        <div class="container_left">
            <div class="sub">
                <h2>MENU</h2>
            </div>
            <div class="sub"><a href="{% url 'seller:seller_home' %}">Home</a></div>
            <div class="sub"><a href="{% url 'seller:product_catelogue' %}">Product Catelogue</a></div>
            <div class="sub"><a href="{% url 'seller:add_product' %}">Add Product</a></div>
            <div class="sub"><a href="{% url 'seller:change_password' %}">Change Password</a></div>
            <div class="sub"><a href="{% url 'seller:seller_profile' %}">Profile</a></div>
            <div class="sub"><a href="">Recent Orders</a></div>
            <div class="sub"><a href="{% url 'seller:update_stock' %}">Update Stock</a></div>
            <div class="sub"><a href="{% url 'seller:order_history' %}">Order History</a></div>
        </div>
        <div class="container_right">
            <div class="seller_name">
                <h3>PRODUCT CATALOGUE</h3>
            </div>
            
            <div class="product">
               {% for i in p_data %}
                <div class="card">
                    <div class="b_image">
                        <img src="{{i.image.url}}" alt="">
                    </div>
                    <div class="detail">
                        <b><span>{{i.product_name}}</span></b>
                        <br><br>
                        <b>Discription : {{i.discription}}</b>
                        <br>
                        <b>Stock : {{i.stock}}</b>
                        <br>
                    </div>

                </div>
                {% endfor %}
               
               

                
            </div>








        </div>
    </div>
    
</body>

</html>