{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update product</title>
    <link rel="stylesheet" href="{% static 'css/update_stock.css' %}">
</head>

<body>
    <div class="main">
    
        <div class="container_left">
            <div class="sub">
                <h2>MENU</h2>
            </div>
            <div class="sub"><a href="{% url 'seller:seller_home' %}">Home</a></div>
            <div class="sub"><a href="{% url 'seller:product_catelogue' %}">Product Catelogue</a></div>
            <div class="sub"><a href="{% url 'seller:add_product' %}">Add Product</a></div>
            <div class="sub"><a href="{% url 'seller:change_password' %}">Change Password</a></div>
            <div class="sub"><a href="{% url 'seller:seller_profile' %}">Profile</a></div>
            <div class="sub"><a href="">Recent Orders</a></div>
            <div class="sub"><a href="{% url 'seller:update_stock' %}">Update Stock</a></div>
            <div class="sub"><a href="{% url 'seller:order_history' %}">Order History</a></div>
        </div>
        <div class="container_right">
            <div class="seller_name">
                <h3>UPDATE STOCK</h3>
            </div>
            
          
               
               

                <div class="update">
                    <table class="update_table">
                        <tr>
                            <td>
                                <select name="" id="select_p">
                                    <option value="">select </option>
                                    <option value="">product1</option>
                                    <option value="">product2</option>
                                </select>
                            </td>
                            <td>
                                <b>Current stock :<span>xx</span></b>
                            </td>
                            <td>
                                <b>New stock : <span>xx</span></b>
                            </td>
                        </tr>
                        
                    </table>
                </div>
            








        </div>
    </div>
    
</body>

</html>