<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .header{
            background-color: rgb(201, 201, 201);
            text-align: center;
        }
        .form{
            display: flex;
            justify-content: center;
            padding: 20px;
        }
        .form input{
            width: 150%;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Reset Password</h1>
    </div>
    <div class="form">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="password" name="password" id="password">
            <button type="submit">Reset</button>
        </form>
    </div>
</body>
</html>