<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    
        #main1 {
            display: flex;
            width: 100%;
            height: 100vh;
            background-color: white;
            justify-content: center;
            align-items: center;
        }

        .div2 {
            width: 50%;
            height: 70vh;
            background-color: rgb(237, 232, 232);
        }
    </style>
</head>

<body>
    <div id="main1">
        <div class="div2">
            <h3 text-align="center">customer regstration</h3>
            <table text-align="center" style="margin-top: 50px;">
                <form action="">
                    <tr>
                        <td><label for="">full name </label></td>
                        <td><input style="width: 200px;" type="text"></td>
                    </tr>

                    <tr>
                        <td><label for="">gender </label></td>
                        <td>male<input type="radio" name="gender" id="">female<input type="radio" name="gender" id="">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="">number</label></td>
                        <td><input style="width: 200px;" type="number"></td>
                    </tr>
                    <tr>
                        <td><label for="">email</label></td>
                        <td><input style="width: 200px;" type="email" name="" id=""></td>
                    </tr>
                    <tr>
                        <td><label for="add">adderss</label></td>
                        <td><input type="text" style="width: 200px;  height: 30px;" name="" id=""></td>
                    </tr>
                    <tr>
                        <td><label for="">password</label></td>
                        <td><input style="width: 200px;" type="password" name="" id=""></td>
                    </tr>
                    <tr>
                        <td>Upload Image</td>
                        <td><input type="file"></td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2"><input type="submit" value="creat new account"></td>
                    </tr>


                </form>
            </table>

        </div>
    </div>





</body>

</html>